@tailwind base;
@tailwind components;
@tailwind utilities;

@layer utilities {
  *, ::before, ::after {   
  --tw-slope: 0 var(--tw-slope-a), 100% var(--tw-slope-b), 100% calc(100% - var(--tw-slope-c)), 0 calc(100% - var(--tw-slope-d));
  --tw-slope-a: 0px;
  --tw-slope-b: 0px;
  --tw-slope-c: 0px;
  --tw-slope-d: 0px;
  }

  /* .slope {
    clip-path: polygon(var(--tw-slope));
    padding-top: max(var(--tw-slope-a), var(--tw-slope-b));
    padding-bottom: max(var(--tw-slope-c), var(--tw-slope-d));
  } */
}

@layer base {
  :root {
    --background: 0, 0%, 94%;
    --foreground: 218, 11%, 14%;

    --card: 0 0% 100%;
    --card-foreground: 218, 11%, 14%;

    --popover: 0 0% 100%;
    --popover-foreground: 218, 11%, 14%;

    --primary: 222.2 47.4% 11.2%;
    --primary-foreground: 0, 0%, 94%;

    --secondary: 210 40% 96.1%;
    --secondary-foreground: 222.2 47.4% 11.2%;

    --muted: 210 40% 96.1%;
    --muted-foreground: 215.4 16.3% 46.9%;

    --accent: 210 40% 96.1%;
    --accent-foreground: 222.2 47.4% 11.2%;

    --destructive: 0 84.2% 60.2%;
    --destructive-foreground: 0, 0%, 94%;

    --border: 214.3 31.8% 91.4%;
    --input: 214.3 31.8% 91.4%;
    --ring: 218, 11%, 14%;

    --radius: 0.5rem;
  }

  .dark {
    --background: 218, 11%, 14%;
    --foreground: 0, 0%, 94%;

    --card: 218, 11%, 14%;
    --card-foreground: 0, 0%, 94%;

    --popover: 218, 11%, 14%;
    --popover-foreground: 0, 0%, 94%;

    --primary: 0, 0%, 94%;
    --primary-foreground: 222.2 47.4% 11.2%;

    --secondary: 217.2 32.6% 17.5%;
    --secondary-foreground: 0, 0%, 94%;

    --muted: 217.2 32.6% 17.5%;
    --muted-foreground: 215 20.2% 65.1%;

    --accent: 217.2 32.6% 17.5%;
    --accent-foreground: 0, 0%, 94%;

    --destructive: 0 62.8% 30.6%;
    --destructive-foreground: 0, 0%, 94%;

    --border: 217.2 32.6% 17.5%;
    --input: 217.2 32.6% 17.5%;
    --ring: 212.7 26.8% 83.9%;
  }
}



@layer base {
  * {
    @apply border-border;
  }

  body {
    @apply bg-[#F0F0F0] text-foreground font-montserrat;
  }

  .debug {
    @apply border border-red-500;
  }

  .horizontal {
    @apply flex flex-row;
  }

  .vertical {
    @apply flex flex-col;
  }

  .horizontal.center-v {
    @apply items-center;
  }

  .horizontal.center-h {
    @apply justify-center;
  }

  .horizontal.center {
    @apply justify-center items-center;
  }

  .vertical.center-v {
    @apply justify-center;
  }

  .vertical.center-h {
    @apply items-center;
  }

  .vertical.center {
    @apply justify-center items-center;
  }

  .space-between {
    @apply justify-between;
  }

  .center {
    @apply flex justify-center items-center;
  }
}

html {
      scroll-behavior: smooth;
}

#updates li {
      display: list-item;
      list-style: circle;
}

#updates {
      background-color: #7e7e7e;
      clip-path: polygon(0 0, 100% calc(0% + 4vw), 100% calc(100% - 4vw), 0% 100%);
      max-width: 1440px;
      padding: 4vw;
}

.gradient {
  background: linear-gradient(0deg, rgba(31, 34, 40, 1) 0%, rgba(31, 34, 40, 0) 100%);
}

.pixelated {
  image-rendering: pixelated;
} 